<p id="notice"><%= notice %></p>

<p>
  <strong>Id cervejaria:</strong>
  <%= @ciclovida.id_cervejaria %>
</p>

<p>
  <strong>Id item:</strong>
  <%= @ciclovida.id_item %>
</p>

<p>
  <strong>Localizacao:</strong>
  <%= @ciclovida.localizacao %>
</p>

<%= link_to 'Edit', edit_ciclovida_path(@ciclovida) %> |
<%= link_to 'Back', ciclovidas_path %>
