
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <%= link_to "BeerTech", root_path, :class => "site_title" %>
      </div>
      <div class="clearfix"></div>

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>Menu</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Serviço 1: Estoque de matéria prima <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to "Dashboard", root_path %>
                </li>
                 <li><%= link_to "Index2", plainpage_index2_path %>
                </li>
                <li><%= link_to "Index3", plainpage_index3_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Serviço 2: Estoque de produtos finalizados <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to "Form geral", plainpage_form_path %>
                </li>
                <li><%= link_to "Form avançado", plainpage_form_advanced_path %>
                </li>
                <li><%= link_to "Form validação", plainpage_form_validation_path %>
                </li>
                <li><%= link_to "Form wizard", plainpage_form_wizard_path %>
                </li>
                <li><%= link_to "Form upload", plainpage_form_upload_path %>
                </li>
                <li><%= link_to "Form botões", plainpage_form_buttons_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> Serviço 3: Ciclo de vida de barris <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to "General Elements", plainpage_general_elements_path %>
                </li>
                <li><%= link_to "Media gallery", plainpage_media_gallery_path %>
                </li>
                <li><%= link_to "typography", plainpage_typography_path %>
                </li>
                <li><%= link_to "icons", plainpage_icons_path %>
                </li>
                <li><%= link_to "glyphicons", plainpage_glyphicons_path %>
                </li>
                <li><%= link_to "widgets", plainpage_widgets_path %>
                </li>
                <li><%= link_to "invoice", plainpage_invoice_path %>
                </li>
                <li><%= link_to "inbox", plainpage_inbox_path %>
                </li>
                <li><%= link_to "calendar", plainpage_calendar_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to "tables", plainpage_tables_path %>
                </li>
                <li><%= link_to "tables dinamicas", plainpage_tables_dynamics_path %>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><%= link_to "chartjs", plainpage_chartjs_path %>
                </li>
                <li><%= link_to "chartjs2", plainpage_chartjs2_path %>
                </li>
               
                <li><%= link_to "echarts", plainpage_echarts_path %>
                </li>
                
              </ul>
            </li>
          </ul>
        </div>
        <div class="menu_section">
          
          <ul class="nav side-menu">
            
            
            
            <li><%= link_to "Logout", logout_path, method: :delete %>
            </li>
          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

      
    </div>
  </div>
