   <div class="right_col" role="main">
        <div class="">
  <div class="page-title">
            <div class="title_left">
              <h3>Nova entrada de matéria prima no estoque</h3>
            </div>
  </div>

<%= form_for(@estoquemp, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @estoquemp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estoquemp.errors.count, "error") %> prohibited this estoquemp from being saved:</h2>

      <ul>
      <% @estoquemp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
  <div class="field">
    <%= f.label :Nome_da_cervejaria %><br>
    <input type="text" class="form-control" readonly="readonly" placeholder= <%= current_user.cliente.nome_cervejaria %> >
  </div>
  <div class="field">
    <%= f.label :Item %><br>
    <% materiaprima_array = [] %>
    <% Materiaprima.where(cliente_id: current_user.cliente_id).each do |materiaprima| %>
      <% materiaprima_array << materiaprima.item %>
    <% end %>
    <%= f.select(:item, materiaprima_array.map { |value| [ value, value ] }) %>
  </div>
  <div class="field">
    <%= f.label :Quantidade_atual %><br>
    <%= f.number_field :quantidade_atual, class: "form-control", placeholder: "#", autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :Nome_do_fornecedor %><br>
    <%= f.text_field :fornecedor, class: "form-control", placeholder: "fornecedor", autofocus: true %>
  </div>
  <div class = "field">
    <%= f.label :Atualizar %><br>
    <%= f.select :atualizar, ["Entrada","Saída"] %>
    
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Atualizar estoque", class: 'btn btn-primary btn-lg' %>
  </div>
  <% end %>
</div>
<div class="clearfix"></div>

</div>



