<%= form_for(@estoquemp) do |f| %>
  <% if @estoquemp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estoquemp.errors.count, "error") %> prohibited this estoquemp from being saved:</h2>

      <ul>
      <% @estoquemp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_cervejaria %><br>
    <%= f.number_field :id_cervejaria %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :quantidade_atual %><br>
    <%= f.number_field :quantidade_atual %>
  </div>
  <div class="field">
    <%= f.label :destino %><br>
    <%= f.text_field :destino %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
