<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Painel de análises da <%= current_user.cliente.nome_cervejaria %></h3>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                
                <div class="x_title">
                  <h2>Situação atual do estoque</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content" >
                  <canvas id="mybarChart"></canvas>
                </div>
                
              </div>
            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Uso de fornecedores</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <canvas id="fornecedoresbarChart"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        
        
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>

  <script>
    Chart.defaults.global.legend = {
      enabled: false
    };

    // Bar chart itens
    var ctx1 = document.getElementById("mybarChart");
    var mybarChart = new Chart(ctx1, {
      type: 'bar',

          
      data: {
        labels: <%= raw @estoquemp.map(&:item).uniq.to_json %>,
        datasets: [{
          label: 'Quantidade atual',
          backgroundColor: "#26B99A",
        <% array_itens = @estoquemp.map(&:item).uniq %>
        <% data_array =[] %>
          <% array_itens.each do |itens| %>
             <% data = @estoquemp.where(item: itens).order(updated_at: :desc).limit(1).map(&:quantidade_atual) %>
             <% data_array << data %> 
             <% data = @estoquemp.where(item: itens).order(updated_at: :desc).limit(2).map(&:quantidade_atual).last %>
             <% data_array << data %>
          <% end %>
          data: <%= data_array.select.with_index { |_, i| i.even? }.collect(&:first).to_json %>

        }, {
          label: 'Quantidade anterior',
          backgroundColor: "#03586A",
          data: <%= data_array.select.with_index { |_, i| i.odd? }.to_json %>
        }]
      },

      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
    
     // Bar chart fornecedores
    var ctx2 = document.getElementById("fornecedoresbarChart");
    var fornecedoresbarChart = new Chart(ctx2, {
      type: 'bar',

          
      data: {
        labels: <%= raw @estoquemp.map(&:fornecedor).uniq.to_json %>,
        datasets: [{
          label: 'Uso no último ano',
          backgroundColor: "#26B99A",
        <% array_fornecedores = @estoquemp.map(&:fornecedor).uniq %>
        <% datafornecedor_array =[] %>
          <% array_fornecedores.each do |fornecedores| %>
             <% data_f = @estoquemp.where(fornecedor: fornecedores, created_at: Time.current.all_year).count %>
             <% datafornecedor_array << data_f %> 
          <% end %>
          data: <%= datafornecedor_array.select.to_json %>

        }]
      },

      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });


  </script>

        