<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Nova entrada de matéria prima no estoque</h3>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome cervejaria:</strong>
  <%= @estoquemp.cliente.nome_cervejaria %>
</p>

<p>
  <strong>Item:</strong>
  <%= @estoquemp.item %>
</p>

<p>
  <strong>Quantidade atual:</strong>
  <%= @estoquemp.quantidade_atual %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @estoquemp.fornecedor %>
</p>
</div>
</div>
</div>
  </div>
  <div class="clearfix"></div>
</div>
