<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Estoque da <%= current_user.cliente.nome_cervejaria %></h3>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Estoque de matéria prima</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Id do item</th>
                <th>Item</th>
                <th>Quantidade atual em estoque</th>
                <th>Fornecedor</th>
                <th>Última atualização</th>
                <th>Data da última atualização</th>
              </tr>
            </thead>
            <tbody>
              <% @estoquemp.each do |estoquemp| %>
                <tr>
                  <td><%= estoquemp.id %></td>
                  <td><%= estoquemp.item %></td>
                  <td><%= estoquemp.quantidade_atual %></td>
                  <td><%= estoquemp.fornecedor %></td>
                  <td><%= estoquemp.atualizar %></td>
                  <td><%= estoquemp.updated_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Possível produção com nível de estoque atual</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x-content">
          <table id="datatable-responsive3" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Receita</th>
                <th>Disponibilidade com estoque atual</th>
              </tr>
            </thead>
            <tbody>
              <% receitas = Receitum.where(cliente_id: current_user.cliente_id).map(&:nome_receita).uniq %>
              <% receitas.each do |receita| %>
                <tr>
                  <th><%= receita %></th>
                  <% array_item = [] %>
                  <% array_quantidade = [] %>
                  <% array_unidade = [] %>
                  <% array_quantidade_estoque = [] %>
                  <% array_unidade_estoque = [] %>
                  <% array_item_disp = [] %>
                  <% receitadisponivelproducao = "não sei" %>
                  <% item_receita = Receitum.where(cliente_id: current_user.cliente_id, nome_receita: receita) %>
                  <% item_receita.each do |item_receita| %>
                    <% array_item << item_receita.itens_receita %>
                    <% array_quantidade << item_receita.quantidade_usada %>
                    <% if item_receita.unidade_receita == "unidade" %>
                      <% if item_receita.quantidade_usada.to_i <= Estoquemp.where(cliente_id: current_user.cliente_id, item: item_receita.itens_receita).order(updated_at: :desc).first.quantidade_atual %>
                        <% itemdisponivel = "Sim" %>
                        <% array_item_disp << itemdisponivel %>
                      <% else %>
                        <% itemdisponivel = "Não" %>
                        <% array_item_disp << itemdisponivel %>
                      <% end %>
                    <% else %>
                      <% if item_receita.quantidade_usada.to_i <= (Estoquemp.where(cliente_id: current_user.cliente_id, item: item_receita.itens_receita).order(updated_at: :desc).first.quantidade_atual * Materiaprima.where(cliente_id: current_user.cliente_id, item: item_receita.itens_receita).last.tamanho_pacote) %>
                        <% itemdisponivel = "Sim" %>
                        <% array_item_disp << itemdisponivel %>
                      <% else %>
                        <% itemdisponivel = "Não" %>
                        <% array_item_disp << itemdisponivel %>
                      <% end %>
                    <% end %>
                    
                    <% array_item_disp.each do |arrayitemdisp| %>
                      <% if arrayitemdisp == "Não" && arrayitemdisp != "Sim" %>
                        <% receitadisponivelproducao = "Não disponível para produção" %>
                      <% end %>
                    <% end %>
                    <% if receitadisponivelproducao != "Não disponível para produção" %>
                      <% receitadisponivelproducao = "Disponível para produção" %>
                    <% end %>
                  <% end %>
                  <% if receitadisponivelproducao == "Disponível para produção" %>
                    <th> Disponível para produção </th>
                  <% else %>
                    <th> Não disponível para produção </th>
                  <% end %>
                </tr>
              
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Estoque mínimo indicados para o ano de <%= Time.current.year %>, multiplicar pelo tempo de entrega do fornecedor para saber o valor</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="datatable-responsive2" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Item</th>
                <th>Janeiro</th>
                <th>Fevereiro</th>
                <th>Março</th>
                <th>Abril</th>
                <th>Maio</th>
                <th>Junho</th>
                <th>Julho</th>
                <th>Agosto</th>
                <th>Setembro</th>
                <th>Outubro</th>
                <th>Novembro</th>
                <th>Dezembro</th>
              </tr>
            </thead>
            <tbody>
              <% meses_array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] %>
              <% array_itens = @estoquempitens.map(&:item).uniq %>
              <% array_itens.each do |itens| %>
              
                <tr>
                  <th><%= itens %></th>
                  <% datai4_array =[] %>
                  <% meses_array.each do |mes| %>
                    <% if mes < 12 %>
                        <% proximo_mes = mes +1 %>
                        <% proximo_ano = Time.current.year %>
                    <% else %>
                      <% proximo_mes = 1 %>
                      <% proximo_ano = Time.current.year + 1 %>
                    <% end %>
                    <% data_i4 = @estoquempitens.where("created_at >= ? and created_at < ? and atualizar = ? and item = ?", Time.mktime(Time.current.year, mes), Time.mktime(proximo_ano, proximo_mes), "Saída", itens) %>
                    <% if data_i4 != nil %>
                      <% data_soma = data_i4.sum(:quantidade_atual) %>
                      <% datai4_array << data_soma %>
                    <% else %>
                      <% datai4_array << 0 %>
                    <% end %>
                  
                  <% end %>
                  <th><%= datai4_array[0] %></th>
                  <th><%= datai4_array[1] %></th>
                  <th><%= datai4_array[2] %></th>
                  <th><%= datai4_array[3] %></th>
                  <th><%= datai4_array[4] %></th>
                  <th><%= datai4_array[5] %></th>
                  <th><%= datai4_array[6] %></th>
                  <th><%= datai4_array[7] %></th>
                  <th><%= datai4_array[8] %></th>
                  <th><%= datai4_array[9] %></th>
                  <th><%= datai4_array[10] %></th>
                  <th><%= datai4_array[11] %></th>
                </tr>
              
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="clearfix"></div>
  
  <div id="custom_notifications" class="custom-notifications dsp_none">
          <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
          </ul>
          <div class="clearfix"></div>
          <div id="notif-group" class="tabbed_notifications"></div>
        </div>


  <script>
    var handleDataTableButtons = function() {
        "use strict";
        0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
          dom: "Bfrtip",
          buttons: [{
            extend: "copy",
            className: "btn-sm"
          }, {
            extend: "csv",
            className: "btn-sm"
          }, {
            extend: "excel",
            className: "btn-sm"
          }, {
            extend: "pdf",
            className: "btn-sm"
          }, {
            extend: "print",
            className: "btn-sm"
          }],
          responsive: !0
        })
      },
      TableManageButtons = function() {
        "use strict";
        return {
          init: function() {
            handleDataTableButtons()
          }
        }
      }();
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#datatable').dataTable();
      $('#datatable-keytable').DataTable({
        keys: true
      });
      $('#datatable-responsive').DataTable();
      $('#datatable-responsive2').DataTable();
      $('#datatable-responsive3').DataTable();
      $('#datatable-scroller').DataTable({
        ajax: "js/datatables/json/scroller-demo.json",
        deferRender: true,
        scrollY: 380,
        scrollCollapse: true,
        scroller: true
      });
      var table = $('#datatable-fixed-header').DataTable({
        fixedHeader: true
      });
    });
    TableManageButtons.init();
  </script>

