<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Editar usuário</h3>
      </div>
    </div>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <div class="field">
              <%= f.label :Nome_cervejaria %><br>
              <input type="text" class="form-control" readonly="readonly" placeholder= <%= current_user.cliente.nome_cervejaria %> >
            </div>
            <div class="field">
             <%= f.label :Nome %><br>
             <%= f.text_field :nome, class: "form-control", placeholder: "Nome", autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :Sobrenome %><br>
              <%= f.text_field :sobrenome, class: "form-control", placeholder: "Sobrenome", autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :Email %><br>
              <%= f.text_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :Senha %><br>
              <%= f.password_field :password, class: "form-control", placeholder: "Senha", autofocus: true %>
            </div>
            <br>
            <div class="actions">
              <%= f.submit "Editar usuário", class: 'btn btn-primary btn-lg' %>
              <%= link_to 'Voltar', criarsegundouser_path, :class => "btn btn-link btn-lg", :method => "get" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>







