<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Bem vindo à BeerTech da <%= current_user.cliente.nome_cervejaria %>, <%= current_user.nome %>!</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">
            <h2>Plain Page</h2>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Resumo dos serviços</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content" >
                  <table id="datatable-responsive4" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Nome do serviço</th>
                        <th>Você possui o serviço?</th>
                        <th>Status</th>
                        <!--<th>Custo</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <% servicos = ["Estoque de matéria prima", "Estoque de produto final", "Ciclo de vida do barril" ] %>
                      <% escolhacliente = [] %>
                      <% i = 0 %>
                      <% cliente = Cliente.where(id: current_user.cliente_id).select(:estoque_mp, :estoque_final, :ciclo_vida_barril).take %>
                      <% escolhacliente << cliente.estoque_mp %>
                      <% escolhacliente << cliente.estoque_final %>
                      <% escolhacliente << cliente.ciclo_vida_barril %>
                      <% servicos.each do |servico| %>
                        <tr>
                          <td><%= servico %></td>
                          <% if escolhacliente[i] == "Sim" %>
                            <td>Sim</td>
                          <% else %>
                            <td>Não</td>
                          <% end %>
                          <td>Em dia</td>
                        </tr>
                        <% i = i + 1 %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                  
              </div>
            </div>
            
            <% if current_user.cliente.ciclo_vida_barril == "Sim" %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Barris para recolha</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" >
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Nome do barril</th>
                        <th>Localização</th>
                        <th>Tempo no cliente</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% barril = Ciclovida.where(cliente_id: current_user.cliente_id).order(updated_at: :desc).group(:item_id) %>
                      <% if barril.exists? %>
                        <% barril.each do |ciclovida| %>
                          <% tempo_no_cliente = (Time.current.day - ciclovida.updated_at.day).to_i %>
                            <% if ciclovida.localizacao != "Estoque final. Sujo e vazio" && ciclovida.localizacao != "Estoque de barris. Limpo e vazio" && ciclovida.localizacao != "Câmara fria. Cheio" && tempo_no_cliente >= 6 %>
                              <tr>
                                <td><%= ciclovida.item.item_name %></td>
                                <td><%= ciclovida.localizacao %></td>
                                <td><%= tempo_no_cliente.to_s + " dias" %></td>
                              </tr>
                            <% end %>
                        <% end %>
                      <% else %>
                        <tr>
                          <td>cadastre barris primeiro</td>
                          <td>cadastre barris primeiro</td>
                          <td>cadastre barris primeiro</td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  </div>
                    
                </div>
              </div> 
            <% end %>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var handleDataTableButtons = function() {
      "use strict";
      0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
        dom: "Bfrtip",
        buttons: [{
          extend: "copy",
          className: "btn-sm"
        }, {
          extend: "csv",
          className: "btn-sm"
        }, {
          extend: "excel",
          className: "btn-sm"
        }, {
          extend: "pdf",
          className: "btn-sm"
        }, {
          extend: "print",
          className: "btn-sm"
        }],
        responsive: !0
      })
    },
    TableManageButtons = function() {
      "use strict";
      return {
        init: function() {
          handleDataTableButtons()
        }
      }
    }();
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatable').dataTable();
    $('#datatable-keytable').DataTable({
      keys: true
    });
    $('#datatable-responsive').DataTable();
    $('#datatable-responsive2').DataTable();
    $('#datatable-responsive4').DataTable();
    $('#datatable-scroller').DataTable({
      ajax: "js/datatables/json/scroller-demo.json",
      deferRender: true,
      scrollY: 380,
      scrollCollapse: true,
      scroller: true
    });
    var table = $('#datatable-fixed-header').DataTable({
      fixedHeader: true
    });
  });
  TableManageButtons.init();
</script>

