<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Atualização de produtos no estoque</h3>
      </div>
    </div>
    
    <%= form_for(@estoquefinal) do |f| %>
      <% if @estoquefinal.errors.any? %>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            
            <div id="error_explanation">
              <h2><%= pluralize(@estoquefinal.errors.count, "erros") %> não permitiram o estoque final de ser atualizado: </h2>
        
              <ul>
              <% @estoquefinal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          
          </div>
        </div>
      <% end %>
  
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <div class="field">
              <%= f.label :nome_cervejaria %><br>
              <input type="text" class="form-control" readonly="readonly" placeholder= <%= current_user.cliente.nome_cervejaria %> >
            </div>
            <% item_array = [] %>
            <% Item.where(cliente_id: current_user.cliente_id).each do |item| %>
              <% item_array << item %>
            <% end %>
            
            <div class="field">
              <%= f.label :Codigo_de_barras %><br>
              <%= text_field_tag :barcode, "", class: "form-control", placeholder: "Código de barras", autofocus: true, id: 'barcode' %>
            </div>
            
            <div class="field">
              <%= f.label :item_a_ser_atualizado %><br>
              <%= text_field_tag :item_name, "", class: "form-control", readonly: "readonly", autofocus: true, id: 'item_name' %>
              <%= hidden_field_tag :item_id, "", class: "form-control", readonly: "readonly", autofocus: true, id: 'item_id' %>
            </div>
            <div class="field">
              <%= f.label :quantidade_alterada %><br>
              <%= f.text_field :quantidade_atual, class: "form-control", placeholder: "Quantidade de entrada/saída", autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :destino %><br>
              <%= f.text_field :destino, class: "form-control", placeholder: "Destino do produto se estiver saindo da fábrica", autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :lote %><br>
              <%= f.text_field :lote, class: "form-control", placeholder: "Lote do produto produzido", autofocus: true %>
            </div>
            <div class = "field">
              <%= f.label :Atualizar %><br>
              <%= f.select :atualizar, ["Entrada","Saída"] %>
            </div>
            <br>
            <div class="actions">
              <%= f.submit "Atualizar estoque final", class: 'btn btn-primary btn-lg' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
<!-- java script para enviar codigo de barras pro controller -->
<script type="text/javascript">
  $('#barcode').on('focusout', function (){
    var barcode = $(this);
    return $.ajax({
      url: '/estoquefinals/set_item_name',
      type: 'GET',
      dataType:"json",
      data: {barcode: barcode.val()},
      success:function(result){
        $('#item_name').val(result.item_name) 
        $('#item_id').val(result.id) 
       
      }
    });
  });
</script>
<script>
  $("form").on("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
});
</script>